</main>
</div>
</div>
<aside>
<nav>
  <img id="Logo" src="images/logo.svg" alt="logo" />
</nav>
<footer>
  <h3>badeveloper.com</h3>
</footer>
</aside>
</div>
</div>
<script src="js/Fabian.js"></script>
</body>
</html>
</body>
</html>