<!-- BASE (HEAD, ASSETS, ETC) -->
<%- include('base'); %>

<!-- CONTENT -->
<img id="intro" src="images/intro.png" alt="intro" />

<p><a href="/signup"> ===> Welcome Home...</a></a></p>
        
<!-- CLOSE -->
<%- include('close-base'); %>