<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rule the Mule</title>
    <link rel="stylesheet" href="../public/css/styles1.css" />
    <style></style>
  </head>
  <body>
    <div class="tele-contorno">
      <div class="tele-color">
        <div class="pantalla-contorno">
          <div class="pantalla-contorno2">
            <main>
              <img id="intro" src="../public/images/intro.png" alt="intro" />
              <p><a href="/signup">====>WELCOME!!!!</a></p>
            </main>
          </div>
        </div>
        <aside>
          <nav>
            <img id="Logo" src="../public/images/logo.svg" alt="logo" />
          </nav>
          <footer>
            <h3>badeveloper.com</h3>
          </footer>
        </aside>
      </div>
    </div>
    <script src="js/Fabian.js"></script>
    <script src="../app.js"></script>
  </body>
</html>