* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

div.tele-contorno {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 4px;
}

div.tele-color {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #663333;
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 40px;
  column-gap: 30px;
}

div.pantalla-contorno {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 3vh;
  border-radius: 40px;
}

div.pantalla-contorno2 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: gray;
  padding: 1vh;
  border-radius: 20px;
}

main {
  display: inline-block;
  width: 75vw;
  height: 85vh;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

img {
 display: inline-block;
 border-radius: 20px;
 width: 100%;
 height: 100%;
 padding: 0;
}

img:hover {
 cursor: pointer;
}

div.startcartel {
  background-color: white;
  grid-column-start: 10;
  grid-row-start: 7;
}

div.start {
  background-color:white;
  grid-column-start: 10;
  grid-row-start: 8;
}

div.pregunta1 {
  background-color: brown;
  grid-column-start: 9;
  grid-row-start: 8;
}

div.pregunta2 {
  background-color: brown;
  grid-column-start: 8;
  grid-row-start: 7;
}

div.pregunta3 {
  background-color: brown;
  grid-column-start: 7;
  grid-row-start: 7;
}

div.pregunta4 {
  background-color: brown;
  grid-column-start: 6;
  grid-row-start: 7;
}

div.pregunta5 {
  background-color: brown;
  grid-column-start: 6;
  grid-row-start: 6;
}

div.pregunta6 {
  background-color: brown;
  grid-column-start: 5;
  grid-row-start: 6;
}

div.pregunta7 {
  background-color: brown;
  grid-column-start: 4;
  grid-row-start: 6;
}

div.pregunta8 {
  background-color: brown;
  grid-column-start: 4;
  grid-row-start: 5;
}

div.pregunta9 {
  background-color: brown;
  grid-column-start: 3;
  grid-row-start: 5;
}

div.pregunta10 {
  background-color: brown;
  grid-column-start: 2;
  grid-row-start: 5;
}

div.finish {
  background-color: rgb(110, 109, 131);
  grid-column-start: 1;
  grid-row-start: 5;
}

div.finishcartel {
  background-color: white;
  grid-column-start: 1;
  grid-row-start: 4;
}

aside{
  height: 90vh;
  width: 15vw;
  background-color: #8f7e7e; 
  display: grid;
  grid-template-rows: 5fr 0.5fr;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
}

nav{
  border-radius: 20px;
  background-color:white;
  animation-duration: 4s;
  animation-name: cambiarColorNav;
  animation-fill-mode: forwards;
}

@keyframes cambiarColorNav{
 0% {
 background-color: white;        
 }
 50%{
 background-color: chartreuse;
 }
 100% {
 background-color: black;
 }
}

footer{
  justify-items: center;
  background-color: #8f7e7e;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

h3{
 justify-items: center;
 align-items: flex-end;
  color: chartreuse;
  display: grid;
  grid-column-start: 1;
  grid-row-start: 4;
}

.imagen {
  width: 200px;
  height: 200px;
}

.tarjeta-quiz {
  display: inline-block;
  background-color: white;  
  padding: 10px;
  /*border-style: solid; color: black; ver posibilidad*/
  grid-area: 1 / 2 / span 3 / span 3;
}

img#bandera{
  width: 75%;
  height: 75%;
}

.respuesta{
  font-style: italic;
  font: bold; color: white;
  border: black;
  display: inline-block;
  display: inline-block;
  background-color: rgb(154, 69, 180);;
  border-radius: 20px;
  padding: 10px;
  grid-area: 2 / 6 / span 1 / span 4;
  border-style: solid ;
}

.ayuda{
  font-style: italic;
  font: bold; color: black;
  border: black;
  display: inline-block;
  background-color: chartreuse;
  border-radius: 20px;
  padding: 10px;
  grid-area: 4 / 7 / span 1 / span 2;
  border-style: solid ;
  transition-property: background-color;
  transition-duration: 1s;
  transition-delay: 0,5s;
  transition-timing-function:ease-in;
}

.ayuda:hover {
  cursor: pointer;
  background-color: black;
}

.nombre{
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 115, 0);
  padding: 20px;
  grid-area: 6 / 1 / span 10 / span 2;
  height: 100%;
  width: 100%;
  border-style: solid ;
  animation-name: nombre;
  animation-duration: 1300ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

@keyframes nombre {
  0% {
  height: 0;
  }
  70% {
  height: 100%;
  }
  85% {
  height: 85%;
  }
  100% {
  height: 100%;
  }
}
  
@media (max-width: 800px) {
  
  div.pantalla-contorno{
  padding: 0;
  }
  div.pantalla-contorno2{
  padding: 1vh;
  }
  aside{
  display: none;
  }
  main{
  width: 50vh;
  height: 95vh;
  padding: 1vh;
  }
  div.tele-color{
  padding: 1vh;
  }
  h1 {
  font-size: 50%;
  } 
  h2 {
  font-size: 50%;
  } 
  h3 {
  font-size: 50%;
  }
  p {
  font-size: 50%;
  }       
  .nombre{
  display:none ;
  }
  .imagen{
  width: 75%;
  height: 50%;
  }
  .nombre{
  width: 75%;
  height: 50%;
  }
  .respuesta{
  width: 50%;
  height: 50%;
  }

  
}











  
    

    
